# APPLIED DATA CLEANING ON KICKSTARTER DATASET

<img src='https://c3.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,w_695,g_auto,q_auto,dpr_2.6,f_auto,h_460/raayulrjgqrecunugw8y' width=600>

In [1]:
# Import pandas
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Load dataset
# df = pd.read_csv('https://www.dropbox.com/s/k0fyjksq5c6cbvx/kickstarter_data.csv?dl=1', index_col=[0])
df = pd.read_csv('data\\kickstarter_data.csv')

# First 5 rows of the dataframe
df.sample(5)

,Unnamed: 0,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
68277,68277,1347561873,Help Rory Rodriguez release his first album!,Rock,Music,USD,2012-04-29,1000.0,2012-03-20 00:26:54,1317.0,successful,47,US,1317.0,1317.00,1000.00
242522,242522,303416743,Black Ink Over Dead Presidents Album,Hip-Hop,Music,USD,2013-12-05,100000.0,2013-10-15 00:00:31,0.0,failed,0,US,0.0,0.00,100000.00
61504,61504,1312873043,Courtney Yasmineh New Album 2016 Recording Pro...,Rock,Music,USD,2016-03-07,18000.0,2016-02-15 17:49:45,7699.0,failed,72,US,7699.0,7699.00,18000.00
78617,78617,1400059737,Ross Phazor - Third CD Project,Rock,Music,USD,2011-06-14,500.0,2011-05-15 18:34:43,0.0,failed,0,US,0.0,0.00,500.00
35544,35544,1180309487,Voluntariado en Lesbos,Music,Music,EUR,2017-01-10,480.0,2016-11-29 23:24:53,550.0,successful,28,ES,0.0,586.35,511.73

**ANNOTATION**

- Question: *graded* exercises to complete for score

- Task: *not graded* exercises, highly recommended to follow through

- Dataframe Columns:
    - `goal`: Goal set at the launched time.

    - `pledge`: Total amount of funding the project successfully called.

    - `backers`: Number of investors that fund the project.

    - `usd pledged`: conversion in US dollars of the pledged column (conversion done by kickstarter).

    - `usd_pledge_real`: conversion in US dollars of the pledged column (conversion from Fixer.io API).

    - `usd_goal_real`: conversion in US dollars of the goal column (conversion from Fixer.io API).

The dataset is acquired from Kaggle.com. You can visit it here: https://www.kaggle.com/kemical/kickstarter-projects

üôãüèª‚Äç‚ôÇÔ∏è **DISCUSSION :** Discuss with your teammate to:

- Understand the meaning of each column
- Is there any column that you feel unnecessary?

# A. OVERVIEW AND CLEAN

## **A.1** - Remove unwanted observations
---

### Task

We have many columns for the pledge and goal with different conversions. For this analysis, we choose to keep only `usd_pledged_real` and `usd_goal_real`. 

Write one line of code to drop the columns `goal`, `pledge`, `usd pledged`.

In [6]:
df.columns

Index(['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'state', 'backers', 'country',
       'usd pledged', 'usd_pledged_real', 'usd_goal_real'],
      dtype='object')

In [14]:
# YOUR CODE/ANSWER HERE

In [8]:
# Check your dataframe again to see if the columns are successfully dropped
df.head()

,ID,name,category,main_category,currency,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,2015-08-11 12:12:28,failed,0,GB,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,2017-09-02 04:43:57,failed,15,US,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,2013-01-12 00:20:50,failed,3,US,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,2012-03-17 03:24:11,failed,1,US,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,2015-07-04 08:35:03,canceled,14,US,1283.0,19500.00

For future convenience, let's rename the columns as follows:

- `usd_pledged_real` --> `pledged`
- `usd_goal_real` --> `goal`

Write your code to do that below.

In [ ]:
# YOUR CODE HERE

In [ ]:
# Check your dataframe again to see if your columns are successfully renamed
df.head()

### Question 1 (5 pts)

Write one line of code to check for duplications (of the whole row). Your code should return only one number, which is the total number of duplicated rows.

In [3]:
# TEST YOUR CODE HERE

0

### Question 2 (5 pts)

How about duplicated values in the column `name`? Which of the following expression gives the number of rows with duplicated names?

<ol type="A">
  <li><code>df['name'].isduplicated().sum()</code></li>
  <li><code>df[df['name'].duplicated()].sum()</code></li>
  <li><code>df['name'].duplicated().sum()</code></li>
  <li><code>df.duplicated().sum()</code></li>
</ol>

In [9]:
# YOUR CODE/ANSWER HERE

2896

### Question 3 (5 pts)

Which of the following expression selects all rows with duplicated names?

<ol type="A">
  <li><code>df(df['name'].duplicated())</code></li>
  <li><code>df[df['name'].duplicated()]</code></li>
  <li><code>df['name'].duplicated()</code></li>
  <li><code>df[df.duplicated()]</code></li>
</ol>

In [ ]:
# TEST YOUR CODE HERE

### Task

From duplicated **name**, Let's search for all the rows that have name '**The Gift**'.

In [15]:
# YOUR CODE HERE

,Unnamed: 0,ID,name,category,main_category,currency,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real
8448,8448,1042642941,The Gift,Film & Video,Film & Video,USD,2013-05-08,2013-04-17 01:55:27,successful,37,US,3370.0,3000.0
77475,77475,1394078347,The Gift,Shorts,Film & Video,USD,2011-04-09,2011-03-09 00:15:36,failed,0,US,0.0,1500.0
135140,135140,168615922,The Gift,Shorts,Film & Video,USD,2011-12-31,2011-11-01 02:28:03,failed,0,US,0.0,10000.0

## **A.2** - Structural Error, Correct Datatype
---

### Task

Write one line of code to print the overall information of the dataset. Are there any columns that you feel like they have the wrong datatype?

In [ ]:
# YOUR CODE HERE

The `launched` and `deadline` should be in `datetime` datatype, so you need to convert them to datetime datatype:

*Hint: pd.to_datetime()*

In [ ]:
# Your code here:

Check info one more time to make sure everything goes as plan.

In [16]:
# YOUR CODE HERE

## **A.3** - Handling Missing Values
---

### Question 4 (5 pts)

Which of the following expression(s) give the number of null values in *each* column?

<ol type="A">
  <li><code>df.isna().sum()</code></li>
  <li><code>df.null().sum()</code></li>
  <li><code>df.isnull().sum()</code></li>
  <li><code>sum(df.isnull())</code></li>
  <li><code>df.isna.sum()</code></li>
  <li><code>sum(df.isna())</code></li>
</ol>

In [ ]:
# TEST YOUR CODE HERE

### Task

Write one line of code to fill all the `NaN` values in name with `Unknown`.

In [ ]:
# YOUR CODE HERE

Check the number of `NaN` value one more time to make sure we cleaned them all.

In [ ]:
# YOUR CODE HERE

## **A.4** - Handling errors, corrupted data
---

Scanning through each column to find abnormalities and fix them. Simple as that.

In [17]:
# Display the dataframe one more time.
df.head()

,Unnamed: 0,ID,name,category,main_category,currency,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real
0,0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,2015-08-11 12:12:28,failed,0,GB,0.0,1533.95
1,1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,2017-09-02 04:43:57,failed,15,US,2421.0,30000.00
2,2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,2013-01-12 00:20:50,failed,3,US,220.0,45000.00
3,3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,2012-03-17 03:24:11,failed,1,US,1.0,5000.00
4,4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,2015-07-04 08:35:03,canceled,14,US,1283.0,19500.00

### Question 5 (5 pts)

Let's start with `category`. Write an expression to display the frequency of the value in the column `category`. (The unique values and how many times they appear)

In [18]:
# TEST YOUR CODE HERE

Product Design     22314
Documentary        16139
Music              15727
Tabletop Games     14180
Shorts             12357
                   ...
Residencies           69
Letterpress           49
Chiptune              35
Literary Spaces       27
Taxidermy             13
Name: category, Length: 159, dtype: int64

### Question 6 (5 pts)

Everything seems fine. We now move on to `main_category`. Write an expression to display the frequency of the value in the column `main_category`.

In [19]:
# TEST YOUR CODE HERE

Film & Video    63585
Music           51918
Publishing      39874
Games           35231
Technology      32569
Design          30070
Art             28153
Food            24602
Fashion         22816
Theater         10913
Comics          10819
Photography     10779
Crafts           8809
Journalism       4755
Dance            3768
Name: main_category, dtype: int64

### Task

Let's do the same for `currency` and `state`. Find anything abnormal?

In [20]:
# YOUR CODE HERE

USD    295365
GBP     34132
EUR     17405
CAD     14962
AUD      7950
SEK      1788
MXN      1752
NZD      1475
DKK      1129
CHF       768
NOK       722
HKD       618
SGD       555
JPY        40
Name: currency, dtype: int64

In [21]:
# YOUR CODE HERE

failed        197719
successful    133956
canceled       38779
undefined       3562
live            2799
suspended       1846
Name: state, dtype: int64

### Question 7 (5 pts)

Are there any abnormalities in the column `country`?

<ol type="A">
  <li>Nope, totally fine.</li>
  <li>There is no project in US.</li>
  <li>There are two different values that both represent Canada.</li>
  <li>There is a weird value called <code>N,0"</code>.</li>
</ol>

In [22]:
# TEST YOUR CODE HERE

US      292627
GB       33672
CA       14756
AU        7839
DE        4171
N,0"      3797
FR        2939
IT        2878
NL        2868
ES        2276
SE        1757
MX        1752
NZ        1447
DK        1113
IE         811
CH         761
NO         708
HK         618
BE         617
AT         597
SG         555
LU          62
JP          40
Name: country, dtype: int64

#### *Click to see my solution*

One way to adjust the error in the column `country` is to refer it with the column `currency`.

For example, if the `currency` is `USD`, we can set the value in `country` to `US`.

### Question 8 (5 pts)

Write an expression to select all rows with that weird value above (`N,0"`).

In [ ]:
# TEST YOUR CODE HERE

### Question 9 (5 pts)

Write one line of code to return the ***unique currencies*** of the projects that have country as `N,0"`?

In [ ]:
# TEST YOUR CODE HERE

### Task

Our mission is apply a check function onto each row of the country-N0" part.

First, define a function that takes in a whole data row. 

- If currency is `USD` ---> country is `US`
- If currency is `AUD` ---> country is `AU`
- If currency is `CAD` ---> country is `CA`
- If currency is `GBP` ---> country is `GB`
- If currency is `SEK` ---> country is `SE`
- If currency is `DKK` ---> country is `DK`
- If currency is `NZD` ---> country is `NZ`
- If currency is `NOK` ---> country is `NO`
- If currency is `CHF` ---> country is `CH`
- If currency is `EUR` ---> country is `DE`

In the `EUR` case, we choose to replace by the mode --- `DE` (Within projects that in `EUR`, the most are from `DE` -- Germany)

In [ ]:
def fix_country(row):
    # YOUR CODE HERE

In [ ]:
# Apply and then write it back to the dataframe
df.loc[df['country'] == 'N,0"', 'country'] = df[df['country'] == 'N,0"'].apply(fix_country, axis=1)

In [ ]:
# Check the column again to make sure the N0" is gone
df['country'].value_counts()

### Question 10 (5 pts)

Let's move on to the numeric columns.

Write one line of code to give the descriptive statistic review of three columns: `backers`, `pledged`, and `goal`.

In [ ]:
# TEST YOUR CODE HERE

üí° **Tips:** Your question right now is what the heck is `e+05` and `e+04`. This in Python called scientific style. `e+04` means `*10e4` or `*10000`.

If you don't like it, you can use the syntax below. After you run the code, all the report later will be printed in 2 decimal float format.

In [ ]:
pd.options.display.float_format = "{:.2f}".format
# let's run df.describe() again:
df.describe()

Everything seems fine. No projects have abnormality in these numeric columns.

### Question 11 (10 pts)

üëë **The best project** --- Write one line of code to get the row of the project that have the max pledged.

In [ ]:
# TEST YOUR CODE HERE

You have done a lot of coding. Now, take a bit time off, google and read about this awesome product design project called `'Pebble Time - Awesome Smartwatch, No Compromises'` that attracts the most pledge on Kickstarter history.

### Question 12 (10 pts)

‚ù§Ô∏è **The top favorite** --- Write one line of code to get the row of the project that have the max backers.

In [ ]:
# TEST YOUR CODE HERE

Is the product sounds familiar? You can buy this at any convenient store in Vietnam nowaday. ü•≥

### Question 13 (10 pts)

ü§ë **The most ambitious** --- Write one line of code to get the row of the project that set the max goal.

In [ ]:
# TEST YOUR CODE HERE

### Finally, the last two columns left are the two datetime `launched` and `deadline`.

### Question 14 (10 pts)

Write one line of code to get the minimum value of the column `launched`.

In [ ]:
# TEST YOUR CODE HERE

### Question 15 (10 pts)

Write one line of code to get the maximum value of the column `launched`.

In [ ]:
# TEST YOUR CODE HERE

- The earliest data --- 1970 doesn't make sense at all. So we filter out all the data that set launched year before the founding of Kickstarter (2009).

- The latest data is in the second day of 2018. That's not enough to have a view for 2018 and might effect to analysis in year level, or month level. So we exclude the incomplete data of 2018.

üëâ Do you still remember how to extract datetime components from a date:

```python
# Extract year, month, day
date_series.dt.year
date_series.dt.month
date_series.dt.day

# Extract hour, minute, second
date_series.dt.hour
date_series.dt.minute
date_series.dt.second

# Extract dayofweek, week, quarter
date_series.dt.dayofweek
date_series.dt.isocalendar().week
date_series.dt.quarter

# Extract year-month
date_series.dt.to_period('M')
```

+ Choose to work with data from the beginning of the year 2009 to the end of the year 2017 only.

In [40]:
# Choose to work with data from the beginning of the year 2009 to the end of the year 2017 only.
# FILL-IN THE ___ BELOW:
df2 = df[(df['launched'].dt.___ > 2009) & (df['launched'].dt.___ < 2018)]

,Unnamed: 0,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
1,1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00
5,5,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.00,2016-02-26 13:38:27,52375.00,successful,224,US,52375.00,52375.00,50000.00
7,7,1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17,25000.00,2016-02-01 20:05:12,453.00,failed,40,US,453.00,453.00,25000.00
13,13,1000056157,G-Spot Place for Gamers to connect with eachot...,Games,Games,USD,2016-03-25,200000.00,2016-02-09 23:01:12,0.00,failed,0,US,0.00,0.00,200000.00
14,14,1000057089,Tombstone: Old West tabletop game and miniatur...,Tabletop Games,Games,GBP,2017-05-03,5000.00,2017-04-05 19:44:18,94175.00,successful,761,GB,57763.78,121857.33,6469.73

In [ ]:
# Check the column one more time
df['launched'].min()

In [ ]:
df['launched'].max()

### Final Task

The last task that we should do in cleaning this dataset is to create new columns extract `day`, `month`, `year` from the two columns `launched` and `deadline`. This will help us in the future when we analyse on year, on month, or on day. For example: number of project by year. 

In data analysis, this is a simple feature engineering.

In [ ]:
df['launched_day'] =    df['launched'].dt.day
df['launched_month'] =  # Your code here
df['launched_year'] =   # Your code here

In [ ]:
# Do the same thing with deadline column
# YOUR CODE HERE

YAYYY!!! WE HAVE DONE EVERTHING. ü§© Finally you got a clean dataset that is ready for analysis. 

Let's view out beautiful dataset again.

In [ ]:
# View our data again
df

As you can see, cleaning data is a meticulous process that takes a lot of time. In real life, it can take up to days and requires a lot of domain knowledge. Treat this notebook as a guideline or a case study to start with. Be creative when adapt to your personal project! Good luck ü•∏ üßöüèª‚Äç‚ôÇÔ∏è

# B. FUN TASK:

Using IQR to filter the projects that set the goal way too ambitious or too humble.

In [ ]:
# Create a new column called 'exceed' which is the difference of 'pledged' and 'goal'
# YOUR CODE HERE

In [ ]:
# Now apply IQR on the column 'exceed', calculate the upper whisker and lower whisker
# YOUR CODE HERE

Everything above the upper whisker means that the project attracts A LOT of money compared to its original goal.

In [ ]:
# Filter out the projects that above the upper whisker.
# YOUR CODE HERE

Everything below the lower whisker means that the project set the goal way TOO HIGH compared to its real potential.

In [ ]:
# Filter out the projects that below the lower whisker.
# YOUR CODE HERE

From here, you can further explore the "too successful" projects and the "too failed" projects. For example, what kind of category tend to be too-successful, what opposite? Which country they are from? etc. 

Feel free to code and post your insights to Community. HAVE FUNNN üßôüèª‚Äç‚ôÇÔ∏è